//---- Acueil-----------
.titre-fonctionnalites {
    padding: 130px 0 20px;
}
.sous-titre-fonctionnalites {
    text-align: center;
    font-size: 24px;
}
.container-btn-accueil {
    margin: 20px auto;   
    display: flex;
    justify-content: center;
}
.btn-foncyionnalites {
    display: block;
    width: 200px;
    padding: 15px;
    background: $violet-principal;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    border-radius: 20px;
    margin: 0 10px;
}
.fantome {
    border: 2px solid $violet-principal;
    background: transparent;
    color: $violet-principal;
}
//-----------fonctionnalites---------//
.container-fonctionnalites {
    margin: 125px auto 200px;
    width: 90%;
    max-width: 17000px;
    min-width: 300px;
    @extend %flex-double-centre;
    flex-wrap: wrap;
}
.box-fonctionnalites {
    width: 400px;
    display: flex;
    margin: 20px 10px;
}
.gauche-img {
    font-size: 50px;
    padding: 5px;
}
.droite-txt p:nth-of-type(1){
    font-size: 35px;
    font-weight: 700;
}
.droite-txt p:nth-of-type(2){
    font-size: 25px;
    line-height: 1.2;
}

